<component name="ArtifactManager">
  <artifact type="war" name="springcloudzuui:war">
    <output-path>$PROJECT_DIR$/springcloudzuui/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springcloudzuui</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springcloudzuui-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springcloudzuui:war exploded" />
    </root>
  </artifact>
</component>