<component name="ArtifactManager">
  <artifact type="war" name="springcloudfeign:war">
    <output-path>$PROJECT_DIR$/springcloudfeign/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springcloudfeign</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springcloudfeign-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springcloudfeign:war exploded" />
    </root>
  </artifact>
</component>